@{
    Layout = null;
}

<form method="post">
    <label>Cheese Type</label>
    <input name="name" type="text" />
    <label>Cheese Description</label>
    <input description="description" type="text" />
    <input type="submit" value="add cheese" />


</form>