<form method="post">

    <h1>Add Cheese</h1>
    <label><strong>Cheese Type</strong></label>
    <input name="name" type="text" />
    &nbsp;
    &nbsp;
    &nbsp;
    <label><strong>Cheese Description</strong></label>
    <input name="description" type="text" />
    <input type="submit" value="Add Cheese!" />
</form>