@{
    Layout = null;
}

<form method="post">
    <label><strong>Cheese Type</strong></label>
    <input name="name" type="text" />
    &nbsp;
    &nbsp;
    &nbsp;
    <label><strong>Cheese Description</strong></label>
    <input description="description" type="text" />
    <input type="submit" value="Add Cheese!" />


</form>