


@*Add a heading at the top of Edit.cshtml that says "Edit Cheese NAME (id=ID)" where NAME and ID are replaced by the values of the given cheese.*@


<form method="post">

    <h1>Edit Cheese @ViewBag.name (id=@ViewBag.cheeseID)</h1>

    <h1>Add Cheese</h1>
    <label><strong>Cheese Type</strong></label>
    <input name="name" type="text" value="@ViewBag.name"/>
    &nbsp;
    &nbsp;
    &nbsp;
    <label><strong>Cheese Description</strong></label>
    <input name="description" type="text" value="@ViewBag.description" />
    &nbsp;
    <input type="hidden" value="@ViewBag.cheeseID" name="id" />
    <input type="submit" value="Add Cheese!" />

</form>
