

<h1>My Cheeses</h1>
<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

    <form action="/Cheese/Delete" method="post">
        <ul>
            @foreach (var cheese in ViewBag.cheeses)
            {
                <l1><input type="checkbox" name="deleteCheeses" value="@cheese.Key"> @cheese.Key - @cheese.Value</l1>
                <br />

            }
        </ul>
        <button type="submit">Delete Cheese</button>
    </form>


