<h1>My Cheeses</h1>
<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach (var cheese in ViewBag.cheeses)
    {

        <tr>

            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
            <td><a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseID="@cheese.CheeseID">edit</a></td>
        </tr>

    }


</table>



<a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a>


