

<h1>My Cheeses</h1>
<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}


    @*<form action="/Cheese/Delete" method="post">*@

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Description</th>

            </tr>



            @foreach (var cheese in ViewBag.cheeses)
            {

                <tr>
                    
                    <td>@cheese.Name</td>
                    <td>@cheese.Description</td>

                </tr>

            }

        </table>

        @*<button type="submit">Remove Cheese</button>*@

    @*</form>*@


