@{
    Layout = null;

}

<h1>My Cheeses</h1>
<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<form>
<ul>
@foreach (var cheese in ViewBag.cheeses)
{
        <l1><input type="checkbox" name="cheese" value="@cheese">@cheese</l1><br />

}
    </ul>
    </form>

<button type="submit">Delete Cheese</button>
